#confetti-canvas {
    position: absolute;
    width: 512px;
    height: 512px;
    top: 51px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    pointer-events: none;
}

#board {
    aspect-ratio: 1 / 1;
    height: 80vh;
    width: 80vh;
    table-layout: fixed;
    position: center; /* If you want text inside of it */
    margin: 0 auto;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

#board > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
    padding: 0;
    border: 0;
}

.cell {
    font-size: 200%;
    border: 2px solid black;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell > p {
    max-width: 100%;
    word-wrap: break-word;
}

h2 {
    font-size: 1.5rem;
    font-family: Ubuntu;
    text-align: center;
}

.checked {
    background-color: #00206D;
    color: white;
}

