#confetti-canvas {
    position: absolute;
    width: 512px;
    height: 512px;
    top: 51px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    pointer-events: none;
}

table {
    aspect-ratio: 1 / 1;
    height: 80vh;
    width: 80vh;
    table-layout: fixed;
    position: center; /* If you want text inside of it */
    margin: 0 auto;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

tr {
    padding: 0;
    border: 0;
}

td {
    background-color: #FFFFFF;
    word-wrap: break-word;
    border: 3px solid black;
    margin: 0 auto;
    font-size: 7rem;
    font-family: Ubuntu;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

h1 {
    font-size: 8rem;
    font-family: Ubuntu;
    text-align: center;
}

.checked {
    background-color: #00206D;
    color: white;
}

@media ( max-width: 800px ) {
    table {
        height: 80vw;
        width: 80vw;
    }
}

